body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
img{
    width: 100%;
    height: auto;
}
.fixed-me{

    background-color:#01589f !important;
    padding: 0px  !important;
    margin-bottom: 5px;
    position: fixed;
    top:0;
    z-index:999999;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    transition: all 2s ;
}
.fixed-me .fa-bars{
    color: #fff;
}
.header-right-menu{
    padding: 5px 15px !important;   
}
.site-logo{
    padding: 15px 20px !important; 
    margin: 15px 10px !important;
}
.navbar-me{
    padding: 10px 0px;
    background-color: transparent;
    top: 0px;
    border: 0px;
    border-radius: 0px;
    position: fixed;
    width: 100%;
    z-index:9999;
    transition: all 2s ;
}
.navbar-collapse{
    text-align: center;
    border-top-width: 0px;
    padding-top: 10px;
    margin-top: 5px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.menu-collapsed-button{
    margin: 20px 15px 10px 15px !important;
}
button:focus{
    outline: none;
}
.navbar-nav .navi{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin: 0 0 10px;
    padding: 0 0 10px !important;
}
.navbar-nav .nav-item{
    text-align: center;
    padding: 0 25px;
}
.navbar-nav .nav-item:last-child{
    padding: 0 0 0 25px;
}
.main-logo {
    max-width: 237px;
}
#header{
    background-image: url(../images/banner-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    overflow: hidden;
    position:relative;

}
#header .holder{
    position: absolute;

    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 87, 157, 0.6);
}
#header .holder .holder-1{
    display: table;
    width: 100%;
    height: 100%;
}
#header .holder .holder-1 .holder-2{
    display: table-cell;
    vertical-align: middle;
}
#header #myVideo{
    width: 100%;
}
.banner-text{
    text-align: center;
    color:#ffffff;
}
.banner-text span{
    font-size: 65px;
    font-weight: 300;
}
.banner-text h1{
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
#introduction{
    padding:85px 0;
}
.title{
    font-size: 35px;
}
.title span{
    font-weight: 600;
}
.title:before{
    position: absolute;
    left: 50px;
    top: 50%;
    width:33%;
    height: 2px;
    content: '';
    background: #01589f;
}
.title:after{
    position: absolute;
    right: 50px;
    top: 50%;
    width:33%;
    height: 2px;
    content: '';
    background: #01589f;
}
.heading{
    font-size: 32px;
    font-weight: 300;
    padding: 50px 0;
    text-transform: uppercase;
}
.heading {
    line-height: 1.5;
}
.heading b{
    font-weight: 700;
}
.heading span{
    color: #01589f;
    font-weight: 700;
}
#introduction .detail{
    font-size: 18px;
    font-weight: 300;
    color:#585858;
}
#introduction .detail p{
    line-height: 1.5;
}
#services{
    background:#01589f;
    padding: 85px 0 40px;
    text-align: center;
}
#services .title{
    color:#fff; 
}
#services .title.add:before{
    background:  #fff;
}
#services .title.add:after{
    background:  #fff;
}
#services .heading{
    color:#fff;
}
#services .heading span{
    color:#fff;
}
.service-title{
    display: block;
    font-size: 21px;
    color: #fff;
    font-weight: 600;
    margin: 55px 0 50px;
}
#services .hover:hover > .image {
    background: #02b0ff;
    transition: 2s;
    border:none;
}
#services .image{
    max-width: 188px;
    margin: 0 auto;
    height: 188px;
    border:2px solid #fff;
    border-radius: 50%;
    position: relative;
}
#services .image .holder{
    margin: 0 auto;
    max-width: 80px;
    position: absolute;
    top: 31%;
    left: 0;
    right: 0;
}
#services li{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 20px;
}
#services li:last-child{
    margin: 0;
}
#services .project{
    padding: 60px 0 0;
}
#services .project h1{
    color:#fff;
    font-size: 35px;
    font-weight: 300;
}
#services .project span{
    font-weight: 700;
}
#services .project p{
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    margin: 10px 0 0;
}
#services .project p a{
    color: #fff;
    text-decoration: none;
}
#services .project p a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
#client{
    padding: 85px 0 0;
}
#client .showcase-img img{
    width:100%;
    height: 100%;
}
#client .showcase-text{
    padding: 0 5em;

}
#client .showcase-text p{
    color: #737373;
    font-weight: 300;
    line-height: 1.5;
}
.showcase-text h2{
    font-size: 34px;
    font-weight: 300;
    line-height: 1;
}
.showcase-text span{
    font-size: 34px;
    font-weight: 300;
    padding: 0 0 18px;
    display: block;
    position: relative;
    text-transform: uppercase;
}
.showcase-text span:after{
    position: absolute;
    bottom: 10px;
    left: 0;
    content: '';
    background: #000;
    height: 1px;
    width: 52px
}
.showcase-text p{
    font-size: 15px;
}
#testimonial{
    padding: 85px 0;
    background: #fbfbfb;
}
#testimonial .testimonial-title{
    max-width: 40px;
    margin: 0 auto;
    position: relative;
} 
#testimonial .testimonial-title:before{
    position: absolute;
    top:-86px;
    left: 50%;
    content: '';
    width: 1px;
    height: 86px;
    background: #e1e1e1;
}
#testimonial h4{
    font-size: 16px;
    margin:36px 0 0;
    display: block;
}
#testimonial h4 span{
    font-weight: 700;

}
#testimonial p{
    font-size:20px;
    color: #000;
    font-weight:300 ;
    line-height: 1.5;
    width:80%;
    margin:0 auto;
}
.owl-item {
    color: #000;
    text-align: center;
    padding: 75px 0;
}
.owl-prev {
    float: left;
    padding: 20px;
    background: url(../images/left-arrow.png) no-repeat;
    width: 29px;
    height: 29px;
    margin:0 0 0 25%;
}

.owl-next {
    float: right;
    padding: 20px;
    background: url(../images/right-arrow.png) no-repeat;
    width: 29px;
    height: 29px;
    margin:0 25% 0 0;
}
.owl-prev:hover{
    opacity: .3
}
.owl-next:hover{
    opacity: .3
}
.owl-dots {
    counter-reset: slides-num;
    /* Initialize counter. */
    position: absolute;
    top: 100%;
    left: 47%;
    margin-top: 15px;
}
.owl-dots:after {
    content: counter(slides-num);
    /* get total number of items - more info on http://www.sitepoint.com/a-little-known-way-to-replace-some-scripts-with-css-counters/ */
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
    padding-left: 5px;
}

.owl-dot {
    display: inline-block;
    counter-increment: slides-num;
    /* Increment counter */
    margin-right: 5px;
}
.owl-dot span {
    display: none;
}
.owl-dot.active:before {
    content: counter(slides-num) " /";
    /* Use the same counter to get current item. */
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 2px;
}
#contact-us{
    background: #f0f0f0;
    text-align: center;
    height: 840px;
}
.contact-us-title{
    background-image: url(../images/contact-bg-image.jpg);
    background-size: cover;
    padding: 50px 0 100px
}
.contact-us-title h1{
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
}
.contact-us-title h1 span{
    font-weight: 700;
}
.contact-us-title p{
    font-size: 15px;
    margin: 30px 0;
    color: #fff;
}
#contact-us form{
    background: #fff;
    padding:50px 75px 25px;
    width: 65%;
    margin: -90px auto;
}
#contact-us form input{
    margin: 0 0 15px;
    border-color:#cccccc ;   
}
#contact-us form textarea{
    margin: 0 0 15px;
}
#contact-us form .send{
    padding: 12px 90px;
    background: #01589f;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin: 45px 0 0;
    letter-spacing: 2px;
    font-weight: 600;
}
footer{
    padding: 60px 0 !important;
    background: #01589f;
    text-align: center;
    color: #fff;
    
}
footer .footer-logo{
    max-width: 225px;
    margin: 0 auto 25px;
}
footer p{
    font-size: 25px;
    margin: 0 0 65px;
    font-weight: 300;
}
footer .social{
    margin: 0 0 50px;
}
footer .social li{
    display: inline-block;
    border: 2px solid;
    display: inline-block;
    width: 58px;
    border-radius: 54px;
    height: 58px;
    margin: 0 5px;
}
footer .social li:hover a i {
    color: #01589f;
}
footer .social li:hover{
    background: #fff;
    transition: 1s;
}
footer .social li .fab:hover{
    color: #01589f;
}
footer .social .fab{
    font-size: 30px;
    color: #fff;
    margin: 12px;
}
footer .email{
    display: block;
    font-size: 17px;
    color: #fff;
    text-decoration: none;

}
footer .email .fa-envelope{
    margin: 0 10px 0 0;
}
footer .phone .fa-phone{
    margin: 0 10px 0 0;
}
footer .phone{
    display: block;
    margin: 15px 0;
}
footer .copyright{
    font-size: 14px;
    margin: 10px;
}
.fa-bars{
    color:#fff;
    font-size: 25px;
}
.fullscreen-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: auto;
        height: 100%;
    }
}
@media screen and (max-width:1199px){
    .title:before{
        width: 20%;
    }
    .title:after{
        width: 20%;
    }
}
@media screen and (max-width:991px){
    #services .image{
        width:160px;
        height: 160px;
    }
    .no-gutters{
        margin:0 0 20px;
        text-align: center;
    }
    .no-gutters:last-child{
        margin: 0;
    }
    #client{
        padding: 85px 0;
    }
    #client .showcase-text{
        margin: 20px 0 !important;
    }
    .showcase-text span:after{
        left: 43%;
    }
    #contact-us form{
        padding: 50px 30px 25px;
    }
}
@media screen and (max-width:767px){ 
    .main-logo{
        max-width: 125px;
        padding-left: 18px;
    }
    .banner-text span{
        font-size: 40px
    }
    .banner-text h1{
        font-size: 30px
    }
    .title:before{
        display: none;
    }
    .title:after{
        display: none;
    }
    #services .hover{
        margin: 0 0 30px;
    }
    #client .showcase-text{
        padding: 0;
    }
    #contact-us form{
        width: 100%;
    }

}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
    .banner-text h1{
        font-size: 30px;
    }
    .fixed-me{
        z-index: 99999 !important;
        -webkit-transform: translate3d(0,0,0);
    }
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 
    .banner-text h1{
        font-size: 30px;
    }
    .fixed-me{
        z-index: 99999 !important;
        -webkit-transform: translate3d(0,0,0);
        
    }
}
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #fff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {

    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}